<div class="ui center aligned container center-page">
  <form class="ui form">
    <!-- <h4 class="ui dividing header">Login</h4>
    <div class="field">
      <button class="fluid ui medium button" (click)="login($event, 'medium')">
        <div>
          <img class="ui mini image" src="./../assets/img/Monogram.svg" style="display: inline-block; width: 24px">
          <div style="display: inline-block; margin-left: 5px">
            Login with Medium
          </div>
        </div>
      </button>
    </div> -->
    <div class="ui centered card">
      <!-- <div class="image">
        <img src="/images/avatar2/large/elyse.png">
      </div> -->
      <div class="content">
        <div class="header">WELCOME</div>
      </div>
      <div class="content">
        <button class="fluid ui medium button" (click)="login($event, 'medium')">
          <div style="text-align: left;">
            <img class="ui mini image" src="./../assets/img/Monogram.svg" style="display: inline-block; width: 24px">
            <div style="display: inline-block; margin-left: 15%">
              Login with Medium
            </div>
          </div>
        </button>
      </div>
    </div>
  </form>
</div>
