<!-- {
  "id":"2506ecfa972f",
  "name":"The Creative Cafe",
  "description":"A community for compulsive creators, their work and their stories. We tackle the creative process from end to end, which includes sharing our most personal and authentic tales. Nothing is off limits — fiction, poetry, memoir and more. New stories published every weekday.",
  "url":"https://medium.com/the-creative-cafe",
  "imageUrl":"https://cdn-images-1.medium.com/fit/c/400/400/1*YP9KllhHscozHx_VU7Xe6w.png"
} -->
<div *ngIf="!isPubsLoaded" class="ui active inline loader"></div>
<div class="ui link cards" style="width: 81%; margin-left: auto; margin-right: auto;">
  <div class="ultra-violet card" *ngFor="let pub of pubs" (click)="openPub($event, pub.url)">
    <div class="image">
      <img src="{{pub.imageUrl}}">
    </div>
    <div class="content">
      <div class="header">{{pub.name}}</div>
      <div class="meta">
        {{pub.role}}
      </div>
      <div class="description">
        {{pub.description}}
      </div>
    </div>
  </div>
</div>
<div *ngIf="pubs?.length == 0" class="ui centered cards" style="margin-top: 20%;">
  <div class="ultra-violet card">
    <div class="content">
      <div class="header">Opps!</div>
      <div class="description">
        Nothing to show, need some publications?
      </div>
    </div>
    <div class="ui bottom attached button" (click)="openPub($event, 'https://medium.com/me/publications')">
      Click here
    </div>
  </div>
</div>
