<div *ngIf="!isDataLoaded || !isLogout" class="ui center aligned container">
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
</div>
<div *ngIf="isDataLoaded">
  <div class="ui clearing segment" style="background-color: #5F4B8B; border-radius: unset;">
    <h3 class="ui right floated header">
      <div class="content">
        {{name}}
        <div class="sub header">{{username}}</div>
      </div>
      <div class="ui inline dropdown">
        <div class="text" (click)="openMenu()">
          <img class="ui avatar image" [src]="userImg" style="vertical-align: -webkit-baseline-middle;">
        </div>
        <div class="menu" [ngClass]="isMenuOpened ? 'transition visible' : 'transition hidden'" [ngStyle]="{'display': isMenuOpened ? 'block' : 'none' }" style="left: -50px">
          <div class="item" (click)="logout()">
            Logout
          </div>
        </div>
      </div>
    </h3>
  </div>
  <div class="ui center aligned container">
    <app-publication></app-publication>
  </div>
</div>
